.header {
  background-color: #1f2833;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 5px;
}
.logo {
  color: white;
  /* outline-width: 2px;
  outline-color: green;
  outline-style: solid; */
  width: 170px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-options {
  display: flex;
  justify-content: space-around;
  /* width: 100px; */
  gap: 20px;
  color: white;
  /* outline-width: 2px; */
  /* outline-color: brown; */
  /* outline-style: solid; */
  list-style: none;
  padding: 0;
}

.nav-options li {
  /* outline-width: 2px; */
  /* outline-color: yellow; */
  /* outline-style: solid; */
  font-size: 24px;
}

form {
  display: flex;
  justify-content: stretch;
  /* outline-width: 2px;
  outline-color: blue;
  outline-style: solid; */
}

input {
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  /* width: 100%; */
  /* padding: 3px 3px; */
  padding-right: 10px;
  outline: 0;
  background-color: #f5f5f5;
}
