.genres {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.genre {
  color: white;
}

.title {
  display: inline-block;
  padding-top: 10px;
  border-bottom: #66fcf1 solid 4px;
  margin-bottom: 20px;
  color: white;
  width: fit-content;
}

.outer {
  text-align: center;
}
